<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Geneology App</title>

    <link rel= "stylesheet" href="gene.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
  </head>
  <style></style>
  <body>
      <div id= "div">
          <center>
              <h1>
                 The Geneology App 
                </h1> 
            </center>
        
        </div>

        <p1></p1>
        <br>
        <label for="firstName">First Name:</label>
        

        <input id="firstName" type="text" placeholder="What's your First Name?">
        
        <br>
        <br>
        
        <label for="lastName">Last Name:</label>
        
        <input id="lastName" type="text" placeholder="What's your Last Name?">
        
        <br>
        <br>

        
        <label for="birthdate">Birth Day:</label>
        
        <input id="birthdate" type="text" placeholder="When were you born?">
        
        <br>
        <br>

    <button onclick="alert('One Moment Please...')">Submit!</button>

</body>
</html>